.App{
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.App header{
  background-color: #f5f5f5;
  background-image: url(./assets/images/bg-main-mobile.png);
  background-size: cover;
  height: 300px;
  position: relative;
}

.App main{
  background-color: #fff;
  padding: 22% 5%;
}

/* Style the cards */
.card-1{
  background-image: url(./assets/images/bg-card-front.png);
  background-size: contain;
  color: #dedddf;
  padding: 20px;
  bottom: -20%;
  left: 5%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 28px;
  user-select: none;
}

.card-1 img{
  width: 60px;
}

.card-1 .card-num{
  font-size: 22px;
}

.card-1 footer{
  display: flex;
  justify-content: space-between;
  font-weight: normal;
}

.card-2 {
  background-image: url(./assets/images/bg-card-back.png);
  background-size: contain;
  top: 10%;
  right: 5%;
}

.card-2 .cvv{
  position: absolute;
  top: 43%;
  right: 12%;
}

.card-1, .card-2{
  max-width: 340px;
  width: 100%;
  height: 190px;
  background-repeat: no-repeat;
  position: absolute;
}

.input-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input-block input{
  padding: 10px;
  border-radius: 8px;
  border: 1px solid;
  color: #8e8593;
  font-size: 18px;
  outline: none;
  cursor: text;
}

.input-block input:focus{
  border-color: #21092f;
}



.input-block-container{
  display: flex;
}

.input-block-container input{
  width: 100px;
}

.input-block-container .input-block:nth-child(1){
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.input-block-container .input-block label{
  grid-column: 1/3;
}

.input-block-container input {
  width: 100px;
  margin-right: 10px;
}

.input-block-container #cvc{
  width: 100%;
}

main form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  width: 100%;
}

form button{
  padding: 12px;
  border-radius: 8px;
  background-color: #21092f;
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .App {
    grid-template-rows: 1fr;
    grid-template-columns: minmax(300px, 0.4fr) 1fr;
  }

  .App header{
    height: auto;
    background-image: url(./assets/images/bg-main-desktop.png);
  }
  .card-1{
    top: 15%;
    left: 45%;
    gap: 20px;
  }
  .card-2{
    top: 40%;
    left: 65%;
  }

    .card-2 .cvv{
      top: 37%;
    }

    main{
      display: flex;
    }

    main form {
      margin: auto;
    }
  
}

@media screen and (min-width: 1300px){
  .card-1{
    left: 200px;
    gap: 28px;
  }

    .card-2 {
      left: 250px;
    }

        .card-2 .cvv {
          top: 42%;
        }
}